.order-logo {
  width: 8px;
  height: 8px;
  object-fit: contain;
  border-radius: 12px;
  background: #ffffff;
  padding: 4px;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.25);
}
td:first-child {
  width: 40px;
}
/* spezifisch + wichtig */
table.table tbody tr td .order-logo {
  width: 32px !important;
  height: 32px !important;
  object-fit: contain;
  border-radius: 8px;
  padding: 2px;
}
