.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list {
    scrollbar-width: none;
}

.explore-menu-list-item {
    
    cursor: pointer;    
}

.explore-menu-list-item.active {
    border-bottom: 5px solid tomato;
    padding: 2px;
}

.explore-menu-list-item p {
   color: #747474;
   cursor: pointer;


}

.scroll-icon {
   font-size: 24px;
   cursor: pointer;
   margin-left: 10px;
   color: #747474;
   transition: color 0.2s;

}

.scroll-icon:hover {
   color: tomato;
}

.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active {
   border:4px solid tomato;
   
}

.my-title h3 {
    font-family: "Righteous", sans-serif;
    font-size: 3rem;
    margin-bottom: 2.2rem;
    line-height: 3.8rem;
    margin-top: 1.5rem;
    
}
.explore-menu-list-item img {
    max-width: 128px;  /* max Größe auf großen Geräten */
    border-radius: 50%; /* Rund, falls gewünscht */
    transition: transform 0.3s; }

@media (max-width: 1000px) {
    .my-title h1 {
        font-size: 2.8rem;

    }
 }

 @media (max-width: 800px) {
    .my-title h1 {
        font-size: 2.3rem;

    }
 }

 @media (max-width: 475px) {
    .my-title h1 {
        font-size: 2rem;

    }
 }

 @media (max-width: 430px) {
    .my-title h1 {
        font-size: 1.8rem;

    }
 }