.heading-container {
    font-family: "Righteous", sans-serif;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 3rem;
}

.testimonial-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.t-box {
  background: #989593;
  border-radius: 1rem;
  padding: 30px;

}
.t-box .stars {
    color: #f6ba20;
font-size: 18px;
}
.t-box p {
    font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #fdfdfd;
  margin: 10px 0;
}
.profile {
 font-family: "Righteous", sans-serif;

  display: flex;
  align-items: center;
  gap: 10px;
}

.t-box img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.profile-data h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1rem;
}
.profile-data span {
  font-size: 0.95rem;
  font-weight: 500;
  color: #555555;
}


.newsletter {
    padding-top: 70px;
    max-width: 1040px;
    width: 90%;
    margin: auto;
}
.newsletter h2 {
    font-family: "Righteous", sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
}
.newsletter p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(23, 22, 22);
}

.newsletter form {
    max-width: 600px;
    margin:  1.8rem auto auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(23, 22, 22);
    padding: 7px;
    border-radius: 0.5rem;
}
.newsletter form input {
    
    border: none;
    outline: none;
    padding: 0 20px;
    font-family: "Poppins", sans-serif;
}
.newsletter form .email {
    width: 100%;
}
.newsletter form input::placeholder {
    font-family: "Poppins", sans-serif;
    color: #999;
    font-size: 0.94rem;
    font-weight: 400;
}

.newsletter form .s-btn {
    padding: 14px 24px;
    background-color: #f6ba20;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    color: #fff;
}

.newsletter form .s-btn:hover {
    background-color: rgb(18, 18, 18) ;
    color: #ffffff;
    transition: 0.4s ease-in-out;
}

@media (max-width: 975px) {
  .testimonial-content {
    grid-template-columns: 1fr;
  }

  .newsletter h2{
    font-size: 2.4rem;
  }

}


@media (max-width: 1100px) {
  .testimonial-content h3 {
    font-size: 1.4rem;

  }

  
}