.footer {
    background: rgb(28, 27, 27);
    color: white;
    }
.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap:1.5rem;
    padding: 40px 0 30px;
}    

.footer-box {
    display: flex;
    flex-direction: column;
}

.social a {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #ffffff;
    color: rgb(28, 27, 27);
    margin-right: 10px;
    font-size: 20px;
    transition: all 0.3s ease;
    margin-top: 0.3rem;
    margin-bottom: 0.7rem;
 }
.social a:hover {
        background: #030303;
        color: #fff;
}

.footer p {
    font-size: 1.2rem;
    font-weight: 500; 
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    color: #9d9b9a;
    
}

.footer-box h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-family: "Righteous", sans-serif;
    color: #f6ba20;
}

.footer-text {
    text-align: center;
   
}

.footer-text i {
    color: #eeeceb;
    margin-top: 4.9rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    
    
}
.copyright {
    text-align: center;
    padding: 1px;
    font-size: 1rem;
    color: #faf9f9;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 975px) {
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.more-btn {
     display: inline-block;
  width: fit-content;
  padding: 10px 18px;
  background-color: #f6ba20;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s ease;
  margin-left: 30px;
  margin-top: 10px;
  
}

.more-btn:hover {
  background-color: #aa8426; 
}